@using Core.Dtos.Home
@model SideBar
@using System.Security.Claims;

@{
    var userName = User.FindFirst(ClaimTypes.Name).Value;
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-for="/Admin/Home/Index" class="brand-link d-inline-flex">
        <img src="@Url.Content("~/"+Model.Path)" onerror="this.onerror=null;this.src='/img/logo.png'" alt="admin Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">@Model.SiteName</span>
    </a>
    
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex text-ca">
            <div class="image">
                @*<img src="@Url.Content("~/img/logo.png")" class="img-circle elevation-2" alt="User Image">*@
            <i class="fas fa-user-alt fa-2x text-white"> </i>
            </div>
            <div class="info">
                <span class="  text-white">@Localizer["welcome"] </span><span class="text-success">@userName</span>
                 

            </div>
        </div>

       
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a is-active asp-page="/home/index" class="nav-link active">
                        <i class="nav-icon fas fa-home"></i>
                        <p>  @Localizer["home"].Value </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a is-active asp-page="/Settings/Index" class="nav-link  ">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>  @Localizer["site settings"].Value </p>
                    </a>
                </li>
                <li is-open open="security" class="nav-item  ">
                    <a href="#" class="nav-link  ">
                        <!-- active -->
                        <i class="nav-icon fas fa-shield-alt"></i>
                        <p>
                            @Localizer["security"].Value
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">

                            <a is-active asp-page="/Users/Index" class="nav-link  ">
                                <!-- active -->
                                <i class="far fa-circle nav-icon"></i>
                                <p> @Localizer["users"].Value</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active asp-page="/Roles/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> @Localizer["roles"].Value</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li is-open open="Doctors" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-md"></i>
                        <p>
                            @Localizer["doctors"].Value
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/Doctors/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> @Localizer["records"].Value</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/Doctors/Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["add new"].Value</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li is-open open="departments" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-hospital"></i>
                        <p>
                            @Localizer["departments"].Value
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/Departments/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["records"].Value</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/Departments/Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["add new"].Value</p>
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a is-active asp-page="/Departments/ServisesRecords" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>department services</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active asp-page="/Departments/CreateServises" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>add services</p>
                            </a>
                        </li>*@

                    </ul>
                </li>
                <li is-open open="hospitals" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-hospital-alt"></i>
                        <p>
                            @Localizer["hospitals"].Value
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/Hospitals/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["records"].Value</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/Hospitals/Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["add new"].Value</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li is-open open="News" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                            @Localizer["news"].Value
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/News/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["records"].Value</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/News/Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["add new"].Value</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li is-open open="messages" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-envelope-open"></i>
                        <p>
                            @Localizer["messages"].Value
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/messages/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["records"].Value</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/messages/Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["add new"].Value</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li is-open open="CommonQuestions" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-question-circle"></i>
                        <p>
                            @Localizer["common questions"].Value
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/CommonQuestions/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["records"].Value</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/CommonQuestions/Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["add new"].Value</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li is-open open="Clinic-schedual" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            @Localizer["clinics schedul"].Value

                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/Clinic-schedual/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> @Localizer["records"].Value</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/Clinic-schedual/Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["add new"].Value</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li is-open open="Appointments" class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-clock"></i>
                        <p>
                            @Localizer["book appointments"].Value

                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/Appointments/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> @Localizer["records"].Value</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a is-active asp-area="admin" asp-page="/Appointments/Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>@Localizer["add new"].Value</p>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>